@import "tailwindcss";

:root { color-scheme: light; }

body {
  /* en vez de @apply text-slate-900 */
  color: rgb(15 23 42);

  background:
    radial-gradient(1000px 600px at 12% 12%, rgba(59,130,246,0.30), transparent 60%),
    radial-gradient(900px 600px at 88% 18%, rgba(236,72,153,0.26), transparent 55%),
    radial-gradient(1000px 700px at 45% 92%, rgba(34,197,94,0.22), transparent 60%),
    linear-gradient(to bottom, #ffffff, #f3f4f6);
}
